body {
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 700px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-rows: 150px auto;
  }

  .App-header {
    grid-row: 1;
    display: grid;
    background-color: rgba(35, 35, 35, 0.7);
    color: #FFFFFF;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 50px;
  }

  .buttonBar {
    justify-content: space-between;
    text-align: center;
  }
}

